<h2>Add New Celebrity</h2>

<form action="/celebs/post" method="post">

    <label for="celeb-name-input">
        Celebrity Name: 
        <input id="celeb-name-input" type="text" placeholder="Alek Jonas" name="name">
    </label>

    <label for="occupation-input">
        Occupation: 
        <input id="occupation-input" type="text" placeholder="Software Engineer" name="occupation">
    </label>

    <label for="catchPhrase-input">
        Catch Phrase: 
        <input id="catchPhrase-input" type="text" placeholder="Nemui..." name="catchPhrase">
    </label>

    <br>
    <button>Add</button>

</form>